
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
.link{
    text-decoration: none;
}
.presContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://img.freepik.com/vector-gratis/marco-vector-perros-sobre-fondo-blanco_53876-127700.jpg?w=2000);
    background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.butons{
    height:  90%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnP{
    cursor: pointer;
    color: rgb(121, 100, 90);
    font-family: 'Tilt Warp', cursive;
    background: none;
    font-size: 150px;
    transition: all .5s;
}

.tituloP{
    font-family: 'Concert One', cursive;
    color: white;
}
.btnP:hover{
    font-size: 160px;
    color: rgb(197, 134, 82);
}
