
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
.link{
    text-decoration: none;
}
.presContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-image: url(https://img.freepik.com/vector-gratis/marco-vector-perros-sobre-fondo-blanco_53876-127700.jpg?w=2000);
    background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.butons{
    height:  90%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnP{
    cursor: pointer;
    color: rgb(121, 100, 90);
    font-family: 'Tilt Warp', cursive;
    background: none;
    font-size: 150px;
    transition: all .5s;
}

.tituloP{
    font-family: 'Concert One', cursive;
    color: white;
}
.btnP:hover{
    font-size: 160px;
    color: rgb(197, 134, 82);
}
@media (max-width: 1083px){
    .btnP{
        font-size: 100px;
    }
    .btnP:hover{
        font-size: 110px;
        color: rgb(197, 134, 82);
    }
    .presContainer{
        width: 100%;
        background-image:center;

    }
    
}
@media (max-width: 773px){
    .btnP{
        font-size: 80px;
    }
    .btnP:hover{
        font-size: 90px;
    }
}
@media (max-width: 650px){
    .btnP{
        font-size: 50px;
    }
    .btnP:hover{
        font-size: 60px;
    }
}

@media (max-width: 650px){
    .btnP{
        font-size: 30px;
    }
    .btnP:hover{
        font-size: 40px;
    }
}
@media (max-width: 200px){
    .btnP{
        font-size: 17px;
    }
    .btnP:hover{
        font-size: 22px;
    }
}